{
  "presets": [
    "latest",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-regenerator"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}