@import "../variables";
@import "../mixins";

.docs-page-wrapper {
    margin: ($header-height + $gutter-lg) auto;
    padding: 0 $gutter-md;
    box-sizing: border-box;
    @include elastic-width($max-container-width + 2 * $gutter-md);
    font-size: $font-size-big;
    line-height: 2em;

    a {
        color: $color-white;
        text-decoration: underline;
    }

    .logo {
        font-size: 40px;
        margin: $gutter-md 0;

        @media (min-width: $breakpoint-md) {
            flex-direction: row;
            align-items: baseline;
        }
    }

    .youtube-container {
        margin: $gutter-lg 0 0 0;
    }

    .markdown-body {
        margin-top: $gutter-md;
        padding-top: $gutter-md;

        h1 {
            padding-top: ($header-height + $gutter-md * 4);
            margin-top: -($header-height);
        }
        h2 {
            padding-top: ($header-height + $gutter-lg);
            margin-top: -($header-height);
        }
        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px solid $color-gray-medium;
        }
    }
}