@import "../variables";
@import "../mixins";

.index-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-page-wrapper {
    background: linear-gradient(rgba(16, 102, 150, 0.97), rgba(35, 60, 64, 0.9)), url('images/bg-1.jpeg') fixed;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    margin-top: -$header-height;
    box-sizing: border-box;
    .footer {
        border-top: 1px solid #3d5f6e;
    }
}