@import '../variables';
@import '../mixins';

.profile-edit-page-wrapper {
    @extend .flex-row;
    width: 100%;

    .profile-edit-view-wrapper {
        display: none;
        @media (min-width: $breakpoint-xl) {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            height: calc(100vh - #{$header-height});
        }
    }

    .profile-edit-wrapper {
        flex-wrap: wrap;
        padding: 0;
        overflow-y: auto;
        width: 100%;
        box-sizing: border-box;
        @media (min-width: $breakpoint-xl) {
            width: 600px;
            height: calc(100vh - #{$header-height});
        }
        .document {
            box-sizing: border-box;
            background: $color-gray-even-lighter;
            form {
                @extend .flex-column;
                justify-content: space-between;
                .document-section-wrapper {
                    .document-section {
                        @extend .flex-column;
                        @extend .flex-align-items-center;
                        padding: 0;
                        box-sizing: border-box;
                        &:not(:last-child) {
                            border-bottom: 1px solid $color-gray-light;
                        }
                        .section-title {
                            box-sizing: border-box;
                            padding: $gutter-md;
                            width: 100%;
                            cursor: pointer;
                            user-select: none;
                            margin: 0;
                            font-weight: 700;
                            i {
                                width: 20px;
                            }
                        }
                        .section-body {
                            padding: 0 $gutter-md $gutter-md $gutter-md;
                            width: 100%;
                        }
                    }
                }
                .button-bar {
                    @extend .flex-row-reverse;
                    flex-direction: row-reverse;
                    width: 100%;
                    background-color: $color-white;
                    border-top: 1px solid $color-gray-light;
                    box-sizing: border-box;
                    padding: $gutter-md;
                    button {
                        margin-left: $gutter-sm;
                    }
                }
            }
        }

    }

    .edit-profile-image-button-wrapper {
        margin: $gutter-md 0;
        .fa {
            margin-right: $gutter-sm;
        }
    }

    .user-type-toggle {
        box-sizing: border-box;
        border: 1px solid $color-gray-light;
        width: 100%;
        border-radius: $radius-md;
        button {
            flex: 1 1 auto;

            &.pushed {
                background-color: #DCDCDC;
                .fa {
                    color: $color-secondary;
                    display: inline-block;
                    margin-right: $gutter-sm;
                }
            }
            &:hover {
                .fa {
                    color: $color-white;
                }
            }
            &:not(.pushed) {
                .fa {
                    display: none;
                }
            }
        }
    }

    .field-array {
        ul {
            li.multi-line {
                @extend .flex-row;
                margin-bottom: $gutter-sm;
                border: 1px solid $color-gray-light;
                border-radius: $radius-md;
                padding: $gutter-sm;

                div.item {
                    flex: 1 0 auto;
                }

                div.controls {
                    @extend .flex-column;
                }

                .form-group {
                    flex: 1 1 auto;
                    margin: 0;
                }
            }
        }
        .field-array-button-bar {
            display: flex;
            flex-direction: row;
        }
    }

    .input-group-addon-before-username {
        display: none !important;
        @media (min-width: $breakpoint-md) {
            display: flex !important;
        }
    }

}