@import '../variables';
@import '../mixins';

.search-criteria-wrapper {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2* $gutter-md $gutter-md;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-color: $color-gray-dark;

  .search-criteria {
    max-width: 500px + 2 * $gutter-sm;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      box-sizing: border-box;
      width: 100%;
      button.vibrant {
        .fa {
          margin-right: $gutter-sm;
        }
      }
    }
  }
}

.search-result {
  @include elastic-width($max-container-width + 2 * $gutter-md);

  .search-result-header {
    margin: $gutter-md $gutter-md $gutter-sm $gutter-md;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}