@import '../variables';
@import '../mixins';
@import '../flex';

.search-criteria-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gutter-md;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(16, 102, 150, 0.97);
    background-size: cover;
}

.search-result {
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: $color-gray-lightest;

    .search-result-header {
        background-color: $color-white;
        line-height: 1.5em;
        padding: $gutter-md;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid $color-gray-medium;
        font-size: $font-size-h6;
        .tag {
            margin: $gutter-xs;
            padding: 3px $gutter-sm;
            border: 1px solid $color-gray-light;
            border-radius: $radius-md;
            &:first-child {
                margin-left: 0;
            }
        }
        .developers-near {
        }
        .fa {
            margin-left: $gutter-sm;
            margin-right: $gutter-xs;
        }
    }
    .profile-list {
        @extend .flex-row;
        @include elastic-width($max-container-width + 2 * $gutter-md);
        flex-wrap: wrap;
        padding: $gutter-sm/2;
        box-sizing: border-box;
        margin: 0 auto;

        .search-blank-slate {
            @extend .flex-column;
            @include elastic-width(500px);
            box-sizing: border-box;
            padding: 0 $gutter-md;
            align-items: center;
            margin: 2 * $gutter-lg auto;
            .icon {
                color: $color-gray-dark;
                font-size: 100px;
            }
            p.ask-help {
                text-align: center;
            }
            .share-button-row {
                display: flex;
                flex-direction: row;
                .SocialMediaShareButton {
                    margin: 0 $gutter-xs;
                    cursor: pointer;
                }
            }
        }

        .search-loading {
            @extend .flex-column;
            @include elastic-width(500px);
            box-sizing: border-box;
            padding: 0 $gutter-md;
            align-items: center;
            margin: 2 * $gutter-lg auto;
            .activity {

            }
            .text {
                margin-top: $gutter-sm;
            }
        }
    }
}