@import "../flex";

.index-intro {
    color: $color-white;
    .index-intro-header {
        @extend .flex-column;
        @extend .flex-align-items-center;
        margin: 1.5*$gutter-lg;
        .logo {
            font-size: 3em;
            margin: $gutter-sm;
        }
        .index-intro-motto {
            font-size: 2em;
            opacity: 0.4;
        }
    }
    .index-intro-content {
        @extend .flex-row;
        .index-intro-content-box {
            width: 50%;
            ul {
                li {
                    opacity: 0.8;
                    margin: $gutter-xs 0 $gutter-xs $gutter-lg;
                    &:before {
                        content: '\f00c';
                        font-family: 'FontAwesome';
                        float: left;
                        margin-left: -$gutter-lg;
                        color: $color-shining-5;
                    }
                }
            }
        }
    }
}