@import '../variables';

.index-search-form {
    @include elastic-width(500px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: $gutter-md;
    margin-top: $header-height;

    .fa {
        margin-right: $gutter-sm;
    }

    .index-hero {
        display: flex;
        flex-direction: column;
        font-size: $hero-text-font-size;

        .hero-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;

            @media (min-width: $breakpoint-md) {
                flex-direction: row;
                align-items: baseline;
            }

            .logo {
                color: $color-white;
                font-size: 40px;
                margin: $gutter-md 0;

                @media (min-width: $breakpoint-md) {
                    flex-direction: row;
                    align-items: baseline;
                }
            }
        }
    }

    .form-help {
        color: $color-gray-dark;
    }

    button.search {
        font-size: 1.2em;
    }

    .register-wrapper {
        margin-top: 2 * $gutter-md;
        padding: $gutter-md;
        border-radius: $radius-md;
        border: 1px solid darken($color-gray-dark, 30%);
        color: $color-gray-dark;
        .title {
            margin: 0 0 $gutter-sm 0;
            font-weight: 700;
            text-align: center;
        }
        ul {
            li {
                opacity: 0.8;
                margin: $gutter-xs 0 $gutter-xs $gutter-lg;
                &:before {
                    content: '\f00c';
                    font-family: 'FontAwesome';
                    float: left;
                    margin-left: -$gutter-lg;
                    color: $color-shining-5;
                }
            }
        }
        button {
            display: block;
            margin-top: $gutter-sm;
            box-sizing: border-box;
            width: 100%;
        }
    }
}
