// general
$max-container-width:       1000px;

$gutter-xs:                 4px;
$gutter-sm:                 8px;
$gutter-md:                 16px;

$radius-md:                 2px;

$font-size:                 14px;

// colors
$color-white:               white;
$color-dark:                #0E2439;
$color-darker:              darken($color-dark, 5%);
$color-dark-light:          #1f364d;
$color-dark-light-darker:   darken($color-dark-light, 5%);
$color-dark-lighter:        lighten($color-dark-light, 5%);
$color-dark-lightest:       #6b849e;
$color-shining-1:           #e052a0;
$color-shining-2:           #f15c41;
$color-shining-3:           #308ce8;
$color-shining-4:           #526bf4;
$color-shining-5:           #66f566;
$color-shadow:              #0e1c29;
$color-placeholder:         #666666;

// forms
$input-padding-vertical:    8px;
$input-padding-horizontal:  12px;

// header
$header-height:             56px;
$hero-height:               300px;


