// general
$max-container-width: 1000px;

$gutter-xs: 4px;
$gutter-sm: 8px;
$gutter-md: 16px;
$gutter-lg: 24px;

$radius-md: 2px;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

$font-size-default: 14px;
$font-size-h1: 40px;
$font-size-h2: 36px;
$font-size-h3: 32px;
$font-size-h4: 28px;
$font-size-h5: 24px;
$font-size-h6: 20px;
$font-size-big: 18px;

// colors
$color-white: white;
$color-dark: #0E2439;
$color-darker: darken($color-dark, 5%);
$color-dark-light: #1f364d;
$color-dark-light-darker: darken($color-dark-light, 5%);
$color-dark-lighter: lighten($color-dark-light, 5%);
$color-dark-lightest: #6b849e;
$color-shining-1: #e052a0;
$color-shining-2: #f15c41;
$color-shining-3: #308ce8;
$color-shining-4: #526bf4;
$color-shining-5: #66f566;
$color-shadow: #0e1c29;
$color-placeholder: #666666;

$color-gray-even-lighter: #FAFAFA;
$color-gray-lightest: #ECEFF1;
$color-gray-light: #E0E0E0;
$color-gray-medium: #CFD8DC;
$color-gray-dark: #c4c4c4;
$color-gray-darker: #9e9e9e;

$color-green: green;

$color-font-normal: rgba(0, 0, 0, 0.54);
$color-font-dark: $color-darker;
$background-color: $color-white;
$color-primary: #E052A0;
$color-secondary: #039BE5;

// forms
$input-padding-vertical: 8px;
$input-padding-horizontal: 12px;

// header
$header-height: 50px;
$hero-height: 300px;

// responsiveness
$breakpoint-md: 500px;
$breakpoint-lg: 750px;
$breakpoint-xl: 1032px;

$hero-text-font-size: 25px;
