// general
$max-container-width:       1000px;
$gutter-md:                 16px;
$radius-md:                 4px;

// colors
$color-white:               white;
$color-dark:                #0E2439;
$color-dark-light:          #1f364d;
$color-shining-1:           #e052a0;
$color-shining-2:           #f15c41;

// forms
$input-padding-vertical:    8px;
$input-padding-horizontal:  12px;

// header
$header-height:             56px;
$hero-height:               320px;


