@import '_variables';
@import '_mixins';

// contains styles for the "document" pages (view and edit)

.document-wrapper {
    @include elastic-width(550px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0;
    margin-top: 2* $gutter-md;
    margin-bottom: 2* $gutter-md;

    .document {
        min-height: 200px;
        box-sizing: border-box;
        border-radius: $radius-md;
        box-shadow: $box-shadow;
        background: $color-gray-even-ligther;

        .document-section {
            padding: $gutter-lg;
            &:not(:last-child) {
                border-bottom: 1px solid $color-gray-light;
            }
        }

        .image {
            box-sizing: border-box;
            border: 2px solid $color-white;
            padding: $gutter-md;
            height: 120px;
            width: 120px;
            border-radius: 9999px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-bottom: $gutter-md;
        }

        .button-bar {
            * {
                margin-left: $gutter-sm;
            }
        }
    }
}