@import '_variables';
@import '_mixins';

// contains styles for the "document" pages (view and edit)

.document-wrapper {
    @include elastic-width(500px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0;
    margin-top: $gutter-md;

    .document {
        min-height: 200px;
        box-sizing: border-box;
        background-color: $color-dark-light;
        border-radius: $radius-md;
        box-shadow: 0 0 8px $color-shadow;

        .document-section {
            padding: $gutter-md;
            &:not(:last-child) {
                border-bottom: 1px solid $color-dark;
            }
        }

        .image {
            box-sizing: border-box;
            border: 12px solid $color-dark;
            padding: $gutter-md;
            height: 134px;
            width: 134px;
            border-radius: 9999px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .button-bar {
            * {
                margin-left: $gutter-sm;
            }
        }
    }
}