@import '_variables';
@import '_mixins';

.edit-profile-image-button-wrapper {
    margin: $gutter-md 0;

    
}

.user-type-toggle {
    box-sizing: border-box;
    width: 100%;
    button {
        flex: 1 1 auto;
        &:not(:hover) {
            color: $color-dark-lightest;
        }
        
        &.pushed {
            color: $color-white;
            .fa {
                display: "inline-block";
                color: $color-shining-1;
                margin-right: $gutter-xs;
            }
        }
        &:not(.pushed) {
            .fa {
                display: none;
            }
        }
    }
}