@import '_variables';

input, textarea, select, button {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-default;
    color: $color-font-dark;
}

textarea {
    resize: none;
}

input[type="text"], textarea {
    outline: none;
    padding: $input-padding-vertical $input-padding-horizontal;
    border-radius: $radius-md;
    border: 1px solid $color-gray-light;
    box-sizing: border-box;
    &.invalid {
        padding-top: $input-padding-vertical + 1px;
        border-bottom: 1px solid $color-shining-2;
    }
    &:disabled {
        background-color: $color-gray-even-lighter;
    }
}

input[type="text"] {
    height: 34px;
}

button, a.button {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-font-normal;
    padding: $input-padding-vertical $input-padding-horizontal;

    border: 0 solid $color-gray-light;
    background: transparent;
    
    border-radius: $radius-md;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        color: $color-white;
        border-color: $color-shining-4;
        background-image: linear-gradient(to right,$color-shining-3,$color-shining-4);
        text-decoration: none !important;
    }

    &.discrete {
        text-transform: none;
        font-weight: normal;
    }

    &:disabled {
        opacity: 0.4;
        cursor: no-drop;
    }

    &.gray {
        color: $color-white;
        border: 0;
        background-color: $color-gray-dark;
    }

    &.vibrant {
        color: $color-white;
        border: 0;
        background-color: $color-secondary;
        &:hover {
            background-image: linear-gradient(to right,$color-shining-3,$color-shining-4);
        }
    }

    &.faded {
        border: 0;
        color: $color-gray-medium;
        &:hover {
            color: $color-white;
            background-image: linear-gradient(to right,$color-shining-3,$color-shining-4);
        }
    }

    &.no-border {
        border: 1px solid $color-white;
        &:focus {
            outline: 0;
        }
    }

    &.big {
        padding: 1.2 * $input-padding-vertical 1.2 $input-padding-horizontal;
    }
}

// forms
form, *.form {
    margin: 0;
    .form-row {
        display: flex;
        flex-direction: row;
        margin-bottom: $gutter-md;
        box-sizing: border-box;
        width: 100%;
        .form-column {
            box-sizing: border-box;
            padding: 0 $gutter-sm;
            
            &.eq {
                flex-basis: 0;
                flex-grow: 1;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    label {
        margin-bottom: $gutter-xs;
    }    
}

.input-group {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;

    .form-control, .Select {
        flex: 1 1 auto;
        &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            .Select-control {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
        &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            .Select-control {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .input-group-addon {
        box-sizing: border-box;
        border-style: solid;
        border-color: $color-gray-light;
        background-color: $color-gray-even-lighter;
        padding: ($input-padding-vertical - 2px) $input-padding-horizontal;
        border-radius: $radius-md;
        min-width: 40px;
        display:flex;
        align-items: center;
        flex-direction: column;
    }

    .input-group-addon-before {
        @extend .input-group-addon;
        border-width: 1px 0 1px 1px;
    }

    .input-group-addon-after {
        @extend .input-group-addon;
        border-width: 1px 1px 1px 0;
    }
}



.input-group .form-control, .input-group-addon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// button-group
.button-group {
    display: flex;
    flex-direction: row;

    button:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    button:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    button:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    button {
        &.pushed {
            box-shadow: inset $color-shadow;
        }
    }
}

.form-help-base {
    display: block;
    line-height: 1.2em;
    &.error {
        color: $color-shining-2;
    }
}

.form-help {
    @extend .form-help-base;
    padding-top: $gutter-sm;
}

.form-help-top {
    @extend .form-help-base;
    padding-bottom: $gutter-sm;
}



.react-mde {
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color-placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $color-placeholder;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $color-placeholder;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $color-placeholder;
}

:-ms-input-placeholder { /* Microsoft Edge */
   color: $color-placeholder;
}