@import '_variables';

input[type="text"] {
    padding: $input-padding-vertical $input-padding-horizontal;
    border-radius: $radius-md;
    border: 0;
}

button {
    color: $color-white;
    padding: $input-padding-vertical $input-padding-horizontal;
    background-image: linear-gradient(to right,$color-shining-1,$color-shining-2);
    border-radius: $radius-md;
    border: 0;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        background-image: linear-gradient(to right,$color-shining-3,$color-shining-4);
    }
}