@import '_variables';

// input

input, textarea, select, button {
    font-size: $font-size;
    color: #333;
}

input[type="text"], textarea {
    padding: $input-padding-vertical $input-padding-horizontal;
    border-radius: $radius-md;
    border: 0;
}

input[type="text"] {
    height: 34px;
}

button, a.button {
    text-decoration: none;
    color: $color-white;
    padding: $input-padding-vertical $input-padding-horizontal;

    border: 1px solid $color-white;
    background: transparent;
    
    border-radius: $radius-md;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        border-color: $color-shining-4;
        background-image: linear-gradient(to right,$color-shining-3,$color-shining-4);
    }

    &.vibrant {
        border: 0;
        background-image: linear-gradient(to right,$color-shining-1,$color-shining-2);
        &:hover {
            background-image: linear-gradient(to right,$color-shining-3,$color-shining-4);
        }
    }

    &.no-border {
        border: 0;
        &:focus {
            outline: 0;
        }
    }
}

// forms
form, *.form {
    margin: 0;
    .form-row {
        display: flex;
        flex-direction: row;
        margin-bottom: $gutter-md;
        box-sizing: border-box;
        width: 100%;

        .form-column {
            box-sizing: border-box;
            padding: 0 $gutter-sm;
            
            &.eq {
                flex-basis: 0;
                flex-grow: 1;
            }
        }
    }
}


.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    label {
        margin-bottom: $gutter-xs;
    }    
}

.input-group {
    display: flex;
    align-self: stretch;


    .form-control {
        flex: 1 1 auto;
        &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .input-group-addon {
        box-sizing: border-box;
        background-color: $color-dark;
        padding: $input-padding-vertical $input-padding-horizontal;
        border-radius: $radius-md;
    }
}



.input-group .form-control, .input-group-addon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// button-group
.button-group {
    display: flex;
    flex-direction: row;

    button:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    button:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    button:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    button {
        &.pushed {
            box-shadow: inset $color-shadow;
        }
    }
}

.form-text {
    display: block;
    color: $color-dark-lightest;
    padding-top: $gutter-sm;
    line-height: 1.2em;
}