@import '_variables';
@import '_mixins';

.header-wrapper {
    background-color: $color-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $box-shadow;
    position: fixed;
    z-index: 10000;

    header.header {
        @include elastic-width($max-container-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        position: relative;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
                padding-left: $gutter-md;
                display: flex;
                justify-content: center;
                a {                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        button.head-nav-link {
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            i.fa {
                margin-left: $gutter-sm * 0.8;
            }

            img {
                width: 24px;
                height: 24px;
                border-radius: 12px;
            }
        }
    }
}