@import '_variables';
@import '_mixins';

header.header {
    @include elastic-width($max-container-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    position: relative;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
            padding-left: $gutter-md;
            display: flex;
            justify-content: center;
        }
    }

    a.logo {
        text-decoration: none;
        color: $color-white;
    }

    button.head-nav-link {
        border: none;
        cursor: pointer;
        i.fa {
            margin-left: $gutter-sm * 0.8;
        }
    }
}