@import "_variables";

.index-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - #{$header-height});
    width: 100%;

    .index-search-form{
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .fa {
            margin-right: $gutter-sm;
        }

        .logo-wrapper {
            margin-bottom: $gutter-md;
        }
    }
}