@import '_variables.scss';

.dropdown-menu-wrapper {
    margin-top: $gutter-sm * 1.2;
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    right:0;
    background-color: $color-dark-light;
    border: 1px solid $color-dark-light-darker;

    &:before {
        top: -16px;
        right: 9px;
        position: absolute;
        border: 8px solid transparent;
        border-bottom-color: #1f364d;
        content: ""
    }

    .dropdown-menu {

        padding: $gutter-xs 0;

        div.dropdown-header {
            padding: $gutter-sm;
        }

        a.dropdown-item {
            color: $color-white;
            text-decoration: none;
            display: block;
            padding: $gutter-sm;
            &:hover {
                background-color: $color-dark-lighter;
            }
        }

        div.dropdown-divider {            display: block;
            height: 1px;
            margin: $gutter-xs 0;
            background-color:  $color-dark-light-darker;
        }

    }
}