@import "variables";
@import 'flex';

.profile-view {

    h1, h2, h3, h4, h5, h6 {
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }

    font-size: 18px;
    box-sizing: border-box;
    min-height: calc(100vh - #{$header-height});

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        header {
            color: #fff;
            width: 100%;
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            div.profile-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 200px;
                height: 200px;
                border-radius: 100px;
            }
            h1.username {
                margin-top: $gutter-lg;
                margin-bottom: 0;
                font-size: $font-size-h1;
                line-height: 1em;
            }
            p.current-position {
                margin-bottom: $gutter-sm;
                a {
                    text-decoration: underline;
                }
            }
            div.social-button-wrapper {
                @extend .flex-row;
                align-items: center;

                .item {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    margin: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4em;
                    text-decoration: none;
                    box-sizing: border-box;
                    transition: all .3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .body-wrapper {
        .body {
            padding: $gutter-md;
            margin: 0 auto;
            max-width: 1000px;
            .tag-wrapper {
                @extend .flex-row;
                justify-content: center;
                .tag {
                    padding: $gutter-sm $gutter-sm * 1.5;
                    margin: $gutter-sm;
                    border-radius: $radius-md;
                    border: 1px solid;
                }
            }
            .bio-wrapper {
                margin-top: $gutter-md;
                line-height: 1.2em;
            }
        }
    }
}