@import '_variables';

$cardsPerRowSm: 1;
$cardsPerRowMd: 2;
$cardsPerRowLg: 3;
$cardsPerRowXl: 4;

.profile-card {
    a.card-body {
        &:visited {
            opacity: 0.5;
        }
    }

    box-sizing: border-box;
    font-size: 14px;

    width: calc((100% - (#{$cardsPerRowSm * 2} * #{$gutter-md / 2})) / #{$cardsPerRowSm});

    // small
    @media (min-width: $breakpoint-md) {
        width: calc((100% - (#{$cardsPerRowMd * 2} * #{$gutter-md / 2})) / #{$cardsPerRowMd});
    }

    // medium
    @media (min-width: $breakpoint-lg) {
        width: calc((100% - (#{$cardsPerRowLg * 2} * #{$gutter-md / 2})) / #{$cardsPerRowLg});
    }

    // big
    @media (min-width: $breakpoint-xl) {
        width: calc((100% - (#{$cardsPerRowXl * 2} * #{$gutter-md / 2})) / #{$cardsPerRowXl});
    }

    margin: $gutter-md / 2;
    background-color: $color-white;
    border-radius: $radius-md;
    border: 1px solid $color-gray-light;
    position: relative;

    display: flex;
    flex-direction: column;

    transition: all .1s ease-in-out;

    .star-wrapper {
        position: absolute;
        right: $gutter-md;
        top: $gutter-md;
        font-size: 22px;
    }

    .distance-wrapper {
        position: absolute;
        left: $gutter-md;
        top: $gutter-md;
    }

    a.card-body {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: $gutter-md;

        .image {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            background-size: cover;
        }

        .display-name {
            text-transform: uppercase;
            margin: $gutter-md 0 0 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            font-weight: 700;
        }

        .title {
            font-size: 12px;
            margin: $gutter-xs 0 0 0;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            max-width: 100%;
            box-sizing: border-box;
            height: 40px;
            position: relative;
            &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 20px;
                height: 1.4em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }
        }

        .location {
            font-size: 12px;
            padding: $input-padding-vertical/2 $input-padding-horizontal/2;
            margin: $gutter-xs 0 0 0;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            .fa {
                margin-right: $gutter-sm;
            }
        }
    }

    &:hover {
        transform: scale(1.05);
        z-index: 1000;
    }
}