@import "_variables";
@import "flex";

$cardsPerRowSm: 1;
$cardsPerRowMd: 2;
$cardsPerRowLg: 3;
$cardsPerRowXl: 4;
$card-spacing: $gutter-sm/2;

.profile-card {
    a.card-body {
        &:visited {
            opacity: 0.5;
        }
    }

    box-sizing: border-box;
    width: calc((100% - (#{$cardsPerRowSm * 2} * #{$card-spacing})) / #{$cardsPerRowSm});
    margin: $card-spacing;
    background-color: $color-white;
    border-radius: $radius-md;
    border: 1px solid $color-gray-light;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .1s ease-in-out;

    &:hover {
        border: 1px solid $color-gray-dark;
    }

    // small
    @media (min-width: $breakpoint-md) {
        width: calc((100% - (#{$cardsPerRowMd * 2} * #{$card-spacing})) / #{$cardsPerRowMd});
    }

    // large
    @media (min-width: $breakpoint-lg) {
        width: calc((100% - (#{$cardsPerRowLg * 2} * #{$card-spacing})) / #{$cardsPerRowLg});
    }

    // big
    @media (min-width: $breakpoint-xl) {
        width: calc((100% - (#{$cardsPerRowXl * 2} * #{$card-spacing})) / #{$cardsPerRowXl});
    }

    .star-wrapper {
        position: absolute;
        right: $gutter-md;
        top: $gutter-md;
        font-size: 22px;
    }

    .distance-wrapper {
        position: absolute;
        left: $gutter-md;
        top: $gutter-md;
    }

    a.card-body {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: $gutter-lg $gutter-md;

        .image {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            background-size: cover;
        }

        .display-name {
            text-transform: uppercase;
            margin: $gutter-md 0 0 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            font-weight: 700;
            color: $color-blue-dark;
        }

        .title {
            margin: $gutter-xs 0 0 0;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            max-width: 100%;
            box-sizing: border-box;
            height: 40px;
            position: relative;
            font-weight: bold;
            &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 20px;
                height: 1.4em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }
        }

        .tags {
            @extend .flex-row;
            flex-wrap: wrap;
            justify-content: center;
            .tag {
                font-size: 12px;
                padding: 1px 4px;
                margin: 2px;
                white-space: nowrap;
                border-radius: $radius-md;
                border: 1px solid $color-gray-dark;

                &.more {
                    border: 1px dotted $color-gray-dark;
                }
            }
        }

        .location {
            margin: 0 0 $input-padding-vertical/2 0;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            .fa {
                margin-right: $gutter-sm;
            }
        }
    }
}