@import '~react-select/scss/select';
@import '_variables';

$select-input-border-radius:        $radius-md;
$select-input-border-width:         1px;
$select-input-border-color:         $color-gray-light;
$select-input-border-focus:         $color-gray-light;
$select-input-box-shadow-focus:     none;
$select-padding-vertical:           $input-padding-vertical;
$select-padding-horizontal:         $input-padding-horizontal;
$select-input-height:               32px;
$select-input-placeholder:          $color-placeholder;
$select-input-internal-height:      32px;

$select-item-padding-vertical: 1px;
$select-item-bg: $color-gray-even-lighter;
$select-item-color: $color-font-dark;
$select-item-border-color: $color-gray-light;

@import '~react-select/scss/default';

// hack

.Select {
    .Select-control {
        .Select-input {
            box-sizing: border-box;
        }
    }
}

.Select.invalid {
    .Select-placeholder, .Select-value {
        border-bottom: 1px solid $color-shining-2;
    }
}