@import '~react-select/scss/select.scss';
@import '_variables';

$select-input-border-radius:        $radius-md;
$select-input-border-width:         0;
$select-padding-vertical:           $input-padding-vertical;
$select-padding-horizontal:         $input-padding-horizontal;
$select-input-height:               34px;

@import '~react-select/scss/default';