@import '_variables';
@import 'header';
@import 'hero';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0E2439;
    color: white;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}