@import '_variables';
@import '_mixins';
@import 'flex';

@import 'forms';
@import 'logo';
@import 'header';

// Components
@import 'components/dropdown-menu';
@import 'components/logged-user-dropdown-menu';
@import 'components/search-display-dropdown-menu';
@import 'components/index-search-form';
@import 'components/index-intro';

@import 'pages/search-page';
@import 'pages/login-page';
@import 'pages/profile-edit-page';
@import "profile-list";
@import 'profile-card';
@import "profile-view";
@import 'react-select';
@import 'layout';
@import 'font-awesome';

//pages
@import 'pages/index-page';

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    background-color: $background-color;
    color: $color-font-normal;
    line-height: 1.4em;
    margin: 0;

    .page-wrapper {
        padding-top: $header-height;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;

        ::-webkit-scrollbar-track {
            // sets the background of the tracker
            //background-color: red;
        }

        ::-webkit-scrollbar {
            // sets the width of the scrollbar
            width: 5px;
        }

        ::-webkit-scrollbar-thumb {
            // sets the radius and the background of the handle
            border-radius: $radius-md * 2;
            background-color: darken($color-gray-dark, 20%);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: $color-font-normal;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.hidden {
    display: none;
}