@import '_variables';
@import '_mixins';
@import 'flex-helpers';

@import 'forms';
@import 'header';
@import 'logged-user-dropdown-menu';
@import 'document';
@import 'document-view-profile';
@import 'document-edit-profile';
@import 'search-bar';
@import 'profile-card';
@import 'search-result';
@import 'react-select';
@import 'login-page';
@import 'layout';


body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    background-color: $color-dark;
    color: $color-white;
    line-height: 1.4em;
    margin: 0;
    background-image: linear-gradient(to bottom, #1f364d, #0E2439 300px);
    

    .page-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

li {
    list-style: none;
}

a {
    color: $color-white;
    text-decoration: none;
}