@import '_variables';
@import '_mixins';
@import 'flex';

@import 'forms';
@import 'logo';
@import 'header';
@import 'components/dropdown-menu';
@import 'components/logged-user-dropdown-menu';
@import 'components/search-display-dropdown-menu';
@import 'document';
@import 'document-view-profile';
@import 'document-edit-profile';
@import 'pages/search-page';
@import 'profile-card';
@import 'react-select';
@import 'pages/login-page';
@import 'layout';
@import 'font-awesome';

//pages
@import 'pages/index-page';


body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    background-color: $background-color;
    color: $color-font-normal;
    line-height: 1.4em;
    margin: 0;

    .page-wrapper {
        padding-top: $header-height;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: $color-font-normal;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

.hidden {
    display: none;
}